<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>精彩瞬间</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/htmleaf-demo.css"> -->
    <!--演示页面样式，使用时可以不引用-->
	<!-- <link rel="stylesheet" href="css/monokai-sublime.css"> -->
	<link rel="stylesheet" href="/static/xuanzhuanmuma/css/1.css">
</head>
<body>
    
        <a href="/" class="menu-button"></a>
    
    <!-- <a href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> -->
    
        <div id="drag-container">
            <div id="spin-container">
                <img src="/static/xuanzhuanmuma/images/博雅塔湖.png" alt="">
                <img src="/static/xuanzhuanmuma/images/博雅塔加黄叶.png" alt="">
                <img src="/static/xuanzhuanmuma/images/校园大道银杏.png" alt="">
                <img src="/static/xuanzhuanmuma/images/校门.jpeg" alt="">
                <img src="/static/xuanzhuanmuma/images/校门2.png" alt="">
                <img src="/static/xuanzhuanmuma/images/3.png" alt="">

                <!-- <a target="_blank" href="/static/xuanzhuanmuma/images/博雅塔加黄叶.png">
                    <img src="/static/xuanzhuanmuma/images/博雅塔红叶.png" alt="">
                </a> -->
           
                <!-- <video controls autoplay="autoplay" loop>
                <source src="" type="video/mp4">
                </video> -->
           
            <p>小蓝书@copyright</p>
            </div>
            <div id="ground"></div>
        </div>
        <div id="music-container"></div>
    
    <script src="/static/xuanzhuanmuma/js/1.js"></script>
</body>
</html>